.headerSection {
    width: 100%;
    height: 80px;
    background-color: #232536;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 33px;
}

.navbar button {
    width: 137px;
    height: 24px;
    color: #ffd3af;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar button i {
    color: white;
    font-size: 18px;
}

.navbar ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    font-family: poppins-m;
    font-size: 16px;
    line-height: 24px;
    color: #a7a8af;
    padding-top: 25px;
}
