* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins-m;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins-b;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins-r;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.active {
    color: #fff !important;
    border-top: 3px solid #ffa155;
}

/* Home page start */

.home-page {
    width: 100%;
    height: 900px;
    background-color: #232536;
}

.hero {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    gap: 32px;
}

.hero-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-left {
    width: 624px;
    height: 420px;
    padding-top: 40px;
}

.hero-left h1 {
    font-family: poppins-m;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    color: white;
    margin-bottom: 24px;
}

.hero-left p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    opacity: 60%;
    margin-bottom: 32px;
}

.hero-left button {
    width: 220px;
    height: 64px;
    background-color: #444cfc;
    border: none;
    color: white;
    font-family: poppins-m;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-left i {
    font-size: 20px;
    margin-top: 5px;
}

.hero-bottom {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-bottom h1 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

.hero-bottom h1 span {
    font-size: 14px;
    opacity: 60%;
    line-height: 20px;
}

/* Home page end */

/* Service page start */

.service-page {
    width: 100%;
    height: 574px;
    background-color: #ffe6d2;
}

.service-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
}

.service-right {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.service-right h2 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
}

.service-left {
    width: 622px;
    display: flex;
    flex-direction: column;
}

.service-left h3 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #232536;
}

.service-left h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    color: #232536;
    margin-top: 12px;
    margin-bottom: 24px;
}

.service-left p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

.service-left button {
    width: 231px;
    height: 64px;
    border: none;
    color: white;
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #444cfc;
    margin-top: 40px;
}

/* Service page end */

/* Company page start */

.company {
    width: 100%;
    height: 848px;
    margin-top: 96px;
    position: relative;
    padding-top: 52px;
}

.com-shapeS {
    position: absolute;
    top: 0;
    left: 0;
}

.com-shapeB {
    position: absolute;
    top: 0;
    right: 0;
}

.com-shapeL {
    position: absolute;
    top: -155px;
    right: 150px;
    rotate: -90deg;
}

.company-hero-top {
    width: 664px;
}

.company-hero-top h3 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #232536;
}

.company-hero-top h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    color: #232536;
    margin-top: 20px;
    margin-bottom: 24px;
}

.company-hero-top p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

.company-hero-content {
    position: relative;
    height: 470px;
    margin-top: 40px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

/* Company page end */

/* Career page start */

.career-hero {
    width: 100%;
    height: 697px;
    margin-top: 96px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.career-shapeB {
    position: absolute;
    top: 0;
    right: 0;
}

.career-hero-top {
    width: 624px;
    margin: 0 auto;
    text-align: center;
}

.career-hero-top h3 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #232536;
}

.career-hero-top h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    color: #232536;
    margin-top: 24px;
    margin-bottom: 24px;
}

.career-hero-top p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

.career-hero-img {
    width: 1100px;
    height: 195px;
    margin: 0 auto;
    margin-top: 64px;
}

.career-hero h2 {
    margin-top: 80px;
    font-family: poppins-m;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #232536;
}

/* Career page end */

/* Blog page start */

.blog-hero {
    width: 100%;
    height: 918px;
    position: relative;
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.blog-shapeS {
    position: absolute;
    top: 0;
    left: 0;
}

.blog-shapeB {
    position: absolute;
    top: 0;
    right: 0;
}

.blog-hero-right {
    width: 515px;
    height: 738px;
    padding: 72px 74px;
    background-color: #ffdfc6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-hero-card {
    width: 366px;
    height: 166px;
}

.blog-hero-card h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
    margin-bottom: 16px;
}

.blog-hero-card h2 {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 87%;
}

.blog-hero-card h3 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
    opacity: 60%;
}

.blog-hero-card img {
    width: 32px;
    height: 32px;
}

.blog-hero-left {
    width: 624px;
    padding-top: 45px;
    position: relative;
    overflow: hidden;
}

.blog-hero-left h3 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #232536;
}

.blog-hero-left h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    color: #232536;
    margin-top: 24px;
    margin-bottom: 24px;
}

.blog-hero-left p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

.blog-hero-left button {
    width: 122px;
    height: 24px;
    border: none;
    background-color: transparent;
    color: #444cfc;
    font-family: poppins-m;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 87%;
    margin-top: 24px;
    margin-bottom: 40px;
}

.blog-shapeL {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 391px;
    rotate: 180deg;
}

/* Blog page end */

/* Contact page start */

.contact-hero {
    width: 100%;
    height: 816px;
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    margin-bottom: 96px;
}

.contact-hero-right {
    width: 512px;
    height: 645px;
    background-color: #666dff;
    padding-left: 96px;
    padding-top: 83px;
    position: relative;
}

.contact-shapeL {
    position: absolute;
    bottom: 0;
    left: -24px;
}

.contact-shapeS {
    position: absolute;
    top: 0;
    left: 0;
}

.contact-hero-left {
    width: 672px;
    padding-top: 48px;
    position: relative;
}

.contact-hero-left h3 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #232536;
}

.contact-hero-left h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    color: #232536;
    margin-top: 24px;
    margin-bottom: 24px;
}

.contact-hero-left p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

.contact-form {
    width: 405px;
    height: 496px;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    gap: 10px;
}

.contact-form label {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
    opacity: 60%;
}

.contact-form input {
    outline: none;
    border: none;
    padding: 8px 0;
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    border-bottom: 1px solid #232536;
}

.contact-form textarea {
    outline: none;
    border: none;
    height: 80px;
    padding: 6px 0;
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    border-bottom: 1px solid #232536;
}

.contact-form button {
    width: 213px;
    height: 64px;
    background-color: #444cfc;
    color: white;
    font-family: poppins-m;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-top: 16px;
}

.contact-hero-card {
    width: 268px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-hero-card h5 {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding-bottom: 12px;
    opacity: 60%;
    border-bottom: 1px solid #00000014;
}

.contact-hero-card h2 {
    font-family: poppins-m;
    font-size: 18px;
    line-height: 28px;
    color: white;
    font-weight: 500;
}

.contact-hero-card p {
    font-family: poppins-m;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: white;
    opacity: 60%;
}

/* Contact page end */

/* Privacy and Policy page start */

.privacy-policy {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    gap: 72px;
}

.privacy-top {
    width: 100%;
    height: 138px;
    position: relative;
    padding-top: 48px;
}

.privacy-shapeS {
    position: absolute;
    top: 0;
    left: 0;
}

.privacy-shapeB {
    position: absolute;
    top: 0;
    right: 0;
}

.privacy-top h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
}

.privacy-top p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    margin-top: 8px;
    color: #232536;
}

.privacy-content {
    width: 100%;
    height: 1280px;
    padding: 96px 220px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #ecf8f9;
    position: relative;
}

.privacy-content h1 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #232536;
}

.privacy-content h2 {
    font-family: poppins-b;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
    margin-top: 16px;
}

.privacy-content p {
    font-family: poppins-r;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
}

.privacy-shapeL {
    position: absolute;
    bottom: -180px;
    left: 155px;
    rotate: 90deg;
}
